.title-heading {
  font-size: 25px;
  font-weight: 600;
}

.info-col {
    padding-top: 35px;
    font-size: 15px;
    line-height: 30px;
}

.info-row {
    border-top: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
    background-color: #eee;
}

.icon-heading {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.about-me-section {
    padding: 20px 20px 40px 20px;
    font-size: 14px;
}

.personal-img {
    margin-top: 25px;
    border-radius: 150px;
    height: 100px;
    width: 100px;
}