.title-heading {
  font-size: 25px;
  font-weight: 600;
}

.main-content {
  padding-top: 35px;
}

.project-col {
  cursor: pointer;
  margin-top: 35px;
}

.project-img {
  height: 200px;
  width: 280px;
}

.mobile-project-img {
  height: 200px;
  width: 140px;
}

.project-content {
  position: relative;
  height: 100%;
}

.project-title-container {
  position: absolute;
  transition: 0.5s ease;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.project-title {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 16px;
  width: 200px;
}

.project-content:hover .project-img {
  cursor: pointer;
}

.project-content:hover .project-title {
  opacity: 1;
  cursor: pointer;
}

.project-content:hover .project-title-container {
  opacity: 1;
  cursor: pointer;
}

@media (min-width: 344px) {
  .main-content {
    padding-bottom: 35px;
  }

  .project-img {
    height: 200px;
    width: 280px;
  }

  .mobile-project-img {
    height: 200px;
    width: 140px;
  }

  .project-title-container {
    height: 200px;
    width: 280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
}

@media (min-width: 992px) {
  .main-content {
    padding-bottom: 470px;
  }

  .project-img {
    height: 100%;
    width: 100%;
  }

  .mobile-project-img {
    height: 100%;
    width: 40%;
  }

  .project-title-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: none;
    -ms-transform: none;
  }
}
