<div class="container-fluid">
    <prf-main-nav></prf-main-nav>
    <div class="row main-content">
        <div class="col-lg-6 offset-lg-3 text-center">
            <div class="title-heading">Projects</div>

            <div class="row projects-row">
                <div class="col-lg-4 col-12 project-col">

                    <div class="project-content" (click)="openProjectModal('cascade')">
                        <img src="../../../assets//images/portfolio-imgs/cascade-travel.png" class="project-img" />

                        <div class="project-title-container">
                            <div class="project-title">
                                <strong>Cascade</strong><br />
                                Browser Game
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-12 project-col">
                    <div class="project-content" (click)="openEditAvatar()">
                        <img src="../../../assets//images/portfolio-imgs/prate-chat-lowres.png" class="project-img" />

                        <div class="project-title-container">
                            <div class="project-title">
                                <strong>Prate</strong><br />
                                Chat Matcher
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12 project-col">
                    <div class="project-content" (click)="openEditAvatar()">
                        <img src="../../../assets//images/portfolio-imgs/mototrax-web-livetracking-lowres.png"
                            class="project-img" />

                        <div class="project-title-container">
                            <div class="project-title">
                                <strong>MotoTrax</strong><br />
                                Vehicle Manager
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12 project-col">
                    <div class="project-content" (click)="openEditAvatar()">
                        <img src="../../../assets//images/portfolio-imgs/mototrax-mobile-menu.png"
                            class="mobile-project-img" style="margin-right: 5px;" />
                        <img src="../../../assets//images/portfolio-imgs/mototrax-mobile-map.png"
                            class="mobile-project-img" />

                        <div class="project-title-container">
                            <div class="project-title">
                                <strong>MotoTrax Mobile</strong><br />
                                Vehicle Manager
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12 project-col">
                    <div class="project-content" (click)="openEditAvatar()">
                        <img src="../../../assets//images/portfolio-imgs/artofdreams.jpg" class="project-img" />

                        <div class="project-title-container">
                            <div class="project-title">
                                <strong>Art of Dreams</strong><br />
                                Browser Game
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12 project-col">
                    <div class="project-content" (click)="openEditAvatar()">
                        <img src="../../../assets//images/portfolio-imgs/pevo.jpg" class="project-img" />

                        <div class="project-title-container">
                            <div class="project-title">
                                <strong>Fallen PEVO</strong><br />
                                Charity Website
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12 project-col">
                    <div class="project-content" (click)="openEditAvatar()">
                        <img src="../../../assets//images/portfolio-imgs/pi-homescreen-lowres.png"
                            class="project-img" />

                        <div class="project-title-container">
                            <div class="project-title">
                                <strong>PI Homescreen</strong><br />
                                Home Page
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12 project-col">
                    <div class="project-content" (click)="openEditAvatar()">
                        <img src="../../../assets//images/portfolio-imgs/globalaerospace.jpg" class="project-img" />

                        <div class="project-title-container">
                            <div class="project-title">
                                <strong>GlobalStar Aerospace</strong><br />
                                Aviation Website
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12 project-col">
                    <div class="project-content" (click)="openEditAvatar()">
                        <img src="../../../assets//images/portfolio-imgs/airpropspec.jpg" class="project-img" />

                        <div class="project-title-container">
                            <div class="project-title">
                                <strong>Air Prop Spec.</strong><br />
                                Aviation Website
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>