.form-control-feedback {
    font-size: 22px;
    color: rgb(97, 0, 0);
}

.checkmark {
    font-size: 22px;
    color: rgb(1, 138, 8);
}

.checkmark, .form-control-feedback  {
    position: absolute;
    z-index: 50;
    right: 30px;
    top: 8px;
}