<!-- Modal header -->
<div class="modal-header no-pad-margin">
    <div class="modal-close-btn-container text-center no-pad-margin cursor-pointer" (click)="activeModal.dismiss()">
        <i class="fas fa-times modal-close-btn"></i>
    </div>
    <div class="modal-project-title text-left">Prate</div>
</div>
<!-- Modal body -->
<div class="container modal-body">
    <div class="row">
        <div class="col-12 text-center">
            <div class="modal-project-description text-left">
                Prate is an interest based chat matching application. It has a progress leveling system that gives users
                experience based on their time spent in chat and awards them accordingly. Users have a fully customizable
                experience being able to change their picture, colors, interests, and font.
            </div>

            <div class="modal-project-resources-used">
                <i>Made using...</i><br />
                Angular, HTML, CSS, Bootstrap, NodeJS, pgSQL, Websockets
            </div>

            <div class="row">
                <div class="col-lg-3 col-6 modal-project-col" *ngFor="let image of images; let i=index">
                    <div class="modal-project-content" (click)="open(i)">
                        <img [src]="image.thumb" class="modal-project-img" />

                        <div class="modal-project-zoom-container">
                            <div class="modal-project-zoom">
                                <i class="fas fa-search-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Modal footer -->
<div class="modal-footer text-center">
    Source Code: &nbsp;
    <a href="https://github.com/Nepex/prate" target="_blank" tabindex="-1">Web</a> &nbsp;
    <!-- <a href="https://github.com/Nepex/prate-api" target="_blank" tabindex="-1">API</a> -->
</div>