<div class="container-fluid h-100">
    <prf-main-nav [selectedTab]="'HOME'"></prf-main-nav>
    <div class="row main-content">
        <div class="col-12 my-auto text-center">
            <div class="name-title-container">
                <div class="name-heading">Matt Bacon</div>
                <hr class="name-hr">
                <div class="title-heading">web dev - programmer</div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container-fluid">
<div class="row">
    <div class="col-12 text-center" style="background-color: black">
    test</div>
</div>
</div> -->