<div class="modal-header no-pad-margin">
    <div class="close-btn-container text-center no-pad-margin cursor-pointer" (click)="activeModal.dismiss()">
        <i class="fas fa-times close-btn"></i>
    </div>
    <span class="project-title">Cascade</span>
</div>
<div class="container modal-body">
    <div class="row">
        <div class="col-12 text-center">
            <div class="description text-left">
                Cascade was a browser game I made back in 2016. It was inspired by JRPGs (primarily older Final Fantasy
                games). I designed tile-based maps with Tiled which allowed the user to freely walk around with an
                animated sprite. Cascade featured a fully-fledged random encounter and battle system. The user could
                recruit a variety of classes to their party that specialized in either physical damage, magic damage, or
                healing. Cascade also featured shops, quests, inventory, equipment management, scenes, a messaging
                system, and a
                world map overview. It was made responsive to be compatible with mobile and desktop.
            </div>

            <div class="resources-used">
                <i>Made using...</i><br />
                Angular, HTML, CSS, Bootstrap, PHP, mySQLi
            </div>

            <div class="row">
                <div class="col-lg-3 col-6 project-col" *ngFor="let image of images; let i=index">
                    <div class="project-content" (click)="open(i)">
                        <img [src]="image.thumb" class="project-img" />

                        <div class="project-zoom-container">
                            <div class="project-zoom">
                                <i class="fas fa-search-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal-footer text-center">
    Source Code: &nbsp;
    <a href="https://github.com/Nepex/cascade" target="_blank" tabindex="-1">Web</a> &nbsp;
    <a href="https://github.com/Nepex/cascade-api" target="_blank" tabindex="-1">API</a>
</div>