// Imports
@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,500,700|Jost:400,600");

// Global html/body tags
html,
body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  font-family: "Jost", sans-serif;
  font-size: 14px;
  color: #c2bdb4;
  background-color: #0e1010;
  scroll-behavior: smooth;
  // overflow-y: hidden;
}

// General classes
.no-pad-margin {
  padding: 0;
  margin: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.position-relative {
  position: relative;
}

.main-content {
  position: relative;
  z-index: 1;
}

// Global Links
a {
  text-decoration: underline;
  color: #c2bdb4;
}

a:hover {
  color: #00aff0;
  text-decoration: none;
  transition: 0.5s;
}

// Text highlight custom color
::selection {
  background: rgba(255, 255, 255, 0.1); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(255, 255, 255, 0.1); /* Gecko Browsers */
}

// Chrome custom scrollbar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

// Get rid of blue outlines on btns/inputs
textarea,
select,
input,
button {
  box-shadow: none !important;
}

textarea:focus,
input:focus {
  outline: 1px solid #bbbbbb !important;
}

// Modal fades
@keyframes modal-b-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes modal-fade {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-holder {
  animation: ease-in-out 0.25s modal-fade;
  transition: all 0.25s ease-in-out;
}
