// Lightbox - doesn't work in global styles
::ng-deep .lb-outerContainer {
  border-radius: 0px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0e1010 !important;
}

::ng-deep .lb-dataContainer {
  position: absolute;
  top: 5px;
}

::ng-deep .lb-closeContainer {
  position: fixed;
  right: 10px;
  top: 10px;
}

::ng-deep .lb-details {
  display: none !important;
}

::ng-deep .lb-image {
  border: 0px !important;
  border-radius: 0px !important;
}