<div class="modal-header no-pad-margin">
    <div class="close-btn-container text-center no-pad-margin cursor-pointer" (click)="activeModal.dismiss()">
        <i class="fas fa-times close-btn"></i>
    </div>
    <div class="project-title text-left">PI Homescreen</div>
</div>
<div class="container modal-body">
    <div class="row">
        <div class="col-12 text-center">
            <div class="description text-left">
                Project I made for a monitor that hangs in our living room. It displays time, date, day-by-day weather,
                and has a banner that pops up for weather warnings and other misc. emergencies.
            </div>

            <div class="resources-used">
                <i>Made using...</i><br />
                HTML, CSS, JavaScript
            </div>

            <div class="row">
                <div class="col-lg-3 col-6 project-col" *ngFor="let image of images; let i=index">
                    <div class="project-content" (click)="open(i)">
                        <img [src]="image.thumb" class="project-img" />

                        <div class="project-zoom-container">
                            <div class="project-zoom">
                                <i class="fas fa-search-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal-footer text-center">
    Source Code: &nbsp;
    <a href="https://github.com/Nepex/pi-homescreen" target="_blank" tabindex="-1">Web</a>
</div>